@font-face {
    font-family: "Gavency";
    src: url("../../public/Font/Gavency.otf") format("opentype");
}

$color: #23232d;
$background-color: #fefff0;
$yellow: #efef51;

*{

    font-family: 'Gavency';
    color: #23232d;

}

body, html{

    padding: 0;
    margin: 0;
    background: $background-color;

}

.header{

    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 10vh;
    border-bottom: 5px solid black;
    background: $background-color;

}

.header-logo{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 35px;

}

.header-menu{

    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    font-size: 30px;

}

.project-name{

    text-decoration: $yellow underline;

}

@import "menu";
@import "home";