.articles-details{

  padding-top: 13vh;

  .articles-details-title{

    font-size: clamp(25px, 2vw, 35px);

  }

  .articles-details-paragraph{

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: justify;
    white-space: nowrap;
    font-size: clamp(15px, 1.5vw, 30px);

    @media screen and (width < 900px) {

      width: 80%;
      text-align: start;
      white-space: normal;

    }

  }

}
