.articles-details{

  padding-top: 13vh;

  .articles-details-paragraph{

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: justify;
    white-space: nowrap;

  }

}