.home{

    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 0;

}
.home-title{

    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(90px, 12vw, 500px);
    animation: apparition-titre ease-in-out 0.5s;
    animation-fill-mode: forwards;

}

.home-sub-title{

    opacity: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(10px, 1.5vw, 100px);
    animation: apparition-sous-titre 0.5s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.25s;

    @media screen and (width < 900px) {

        margin: 12px 0px;

    }

}

.home-square{

    opacity: 0;
    z-index: -5;
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    background-color: #efef51;
    animation: apparition-home-square 0.7s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    width: clamp(300px, 45vw, 2000px);
    aspect-ratio: 5/1;

}

.home-square:before{

    content: "";
    z-index: -6;
    position: absolute;
    top: -15%;
    left: -5%;
    background-image: radial-gradient(circle at 2.5px 2.7px, black 2.5px, transparent 0);
    background-size: 45px 31px;
    width: clamp(300px, 45vw, 2000px);
    aspect-ratio: 5/1;

}

.home-detail{

    width: 100vw;
    height: 100vh;
    position: relative;

    .home-detail-title{

        padding-top: 13vh;
        font-size: clamp(18px, 3vw, 50px);


    }

    .home-detail-paragraph{

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: justify;
        font-size: clamp(13px, 2.5vw, 40px);

        @media screen and (width < 900px) {

            width: 80%;

        }

    }

}

@keyframes apparition-titre {
    from{
        opacity: 0;
        top: 45%;
    }
    to{
        opacity: 1;
        top: 50%;
    }
}

@keyframes apparition-sous-titre {
    from{
        opacity: 0;
        top: calc(50% + 5vw - 5%);
    }
    to{
        opacity: 1;
        top: calc(50% + 5vw);
    }
}

@keyframes apparition-home-square {
    from{
        opacity: 0;
        left: 47%;
    }
    to{
        opacity: 1;
        left: 52%;
    }
}
